In [1]:
import pandas as pd
import csv
import os
import pandas as pd
import numpy as np
import math
import os,sys
import pandas as pd
import pickle

In [82]:
input =pd.read_csv("/Users/kimjisun/Documents/simonKim/data 2/train_nw.csv")

In [83]:
input.columns.values

array(['RefId', 'PurchDate', 'Auction', 'VehYear', 'Make', 'Model',
       'Trim', 'SubModel', 'Color', 'Transmission', 'WheelTypeID',
       'WheelType', 'VehOdo', 'Size', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost',
       'IsBadBuy'], dtype=object)

In [84]:
input.describe()

,RefId,VehYear,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
count,51780.000000,51780.000000,49569.000000,51780.000000,51770.000000,51770.000000,51770.000000,51770.000000,51576.000000,51576.000000,51576.000000,51576.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000
mean,36522.592468,2005.338953,1.490286,71481.447316,6136.758605,7382.413328,8514.917790,9868.989318,6136.451838,7395.764968,8787.115616,10155.889270,26332.133507,57936.654268,6737.365883,0.026246,1274.779336,0.123947
std,21056.243492,1.731042,0.520357,14581.446256,2457.628288,2715.325975,3146.919657,3372.450652,2435.795333,2686.334471,3088.968099,3307.121762,25687.871501,26186.079697,1772.094877,0.159867,597.245579,0.329525
min,1.000000,2001.000000,0.000000,8706.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000,0.000000
25%,18326.500000,2004.000000,1.000000,61831.250000,4291.000000,5423.000000,6315.000000,7517.000000,4286.000000,5425.000000,6561.750000,7806.000000,17212.000000,32124.000000,5450.000000,0.000000,853.000000,0.000000
50%,36543.500000,2005.000000,1.000000,73325.000000,6102.500000,7319.000000,8460.000000,9804.000000,6066.500000,7322.000000,8751.000000,10114.000000,19662.000000,73108.000000,6725.000000,0.000000,1155.000000,0.000000
75%,54773.500000,2007.000000,2.000000,82400.250000,7769.000000,9027.000000,10658.000000,12090.000000,7732.000000,9018.000000,10911.250000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000,0.000000
max,73014.000000,2010.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,45469.000000,1.000000,7498.000000,1.000000

In [85]:
input.head(2)

,RefId,PurchDate,Auction,VehYear,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
0,6515,5/18/2010,MANHEIM,2004,CHEVROLET,MALIBU MAXX V6,LT,4D SEDAN LS,BLACK,AUTO,...,9574.0,NaN,NaN,835,85040,AZ,7440.0,0,1272,0
1,64703,12/8/2010,ADESA,2006,KIA,RIO,Bas,4D SEDAN,BLUE,AUTO,...,9668.0,NaN,NaN,20234,85226,AZ,4299.0,0,594,1

In [86]:
input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51780 entries, 0 to 51779
Data columns (total 31 columns):
RefId                                51780 non-null int64
PurchDate                            51780 non-null object
Auction                              51780 non-null object
VehYear                              51780 non-null int64
Make                                 51780 non-null object
Model                                51780 non-null object
Trim                                 50086 non-null object
SubModel                             51774 non-null object
Color                                51774 non-null object
Transmission                         51773 non-null object
WheelTypeID                          49569 non-null float64
WheelType                            49566 non-null object
VehOdo                               51780 non-null int64
Size                                 51777 non-null object
MMRAcquisitionAuctionAveragePrice    51770 non-null float64
MMRAcquisitionAuctionCleanPrice      51770 non-null float64
MMRAcquisitionRetailAveragePrice     51770 non-null float64
MMRAcquisitonRetailCleanPrice        51770 non-null float64
MMRCurrentAuctionAveragePrice        51576 non-null float64
MMRCurrentAuctionCleanPrice          51576 non-null float64
MMRCurrentRetailAveragePrice         51576 non-null float64
MMRCurrentRetailCleanPrice           51576 non-null float64
PRIMEUNIT                            2463 non-null object
AUCGUART                             2463 non-null object
BYRNO                                51780 non-null int64
VNZIP1                               51780 non-null int64
VNST                                 51780 non-null object
VehBCost                             51780 non-null float64
IsOnlineSale                         51780 non-null int64
WarrantyCost                         51780 non-null int64
IsBadBuy                             51780 non-null int64
dtypes: float64(10), int64(8), object(13)
memory usage: 12.2+ MB

# EDA

First, I will remove an unnecessary column RefID.

In [87]:
input_2 =  input.drop(columns=['RefId'])

# Target Feature

IsBadBuy is imbalanced, it may needed to under/over sample to build a better model

In [88]:
IsBadBuy_info = input_2[['IsBadBuy']].groupby(['IsBadBuy']).size().reset_index(name='counts')
IsBadBuy_info['ratio'] = IsBadBuy_info['counts']/51780
IsBadBuy_info

   IsBadBuy  counts     ratio
0         0   45362  0.876053
1         1    6418  0.123947

# Categorical Features Analysis 2

Purchase Date

In [89]:
input_2['PurchYear'] = input_2['PurchDate'].apply(lambda x: x[-4:])

Can not find any significnat patterns here

In [90]:
PurchYear_info = input_2[['PurchYear','IsBadBuy']].groupby(['PurchYear','IsBadBuy']).size().reset_index(name='counts')
PurchYear_info

  PurchYear  IsBadBuy  counts
0      2009         0   21864
1      2009         1    2866
2      2010         0   23498
3      2010         1    3552

In [91]:
PurchYear_info['ratio']=PurchYear_info['counts']/51780
PurchYear_info

  PurchYear  IsBadBuy  counts     ratio
0      2009         0   21864  0.422248
1      2009         1    2866  0.055350
2      2010         0   23498  0.453805
3      2010         1    3552  0.068598

Auction Data Analysis

In [92]:
#We found that there were three auctions
input_2[['Auction']].groupby(['Auction']).size().reset_index(name="counts")

   Auction  counts
0    ADESA   10211
1  MANHEIM   29171
2    OTHER   12398

In [93]:
#can not find any specific pattern
input_2[['Auction','IsBadBuy']].groupby(['Auction','IsBadBuy']).size().reset_index(name="counts")

   Auction  IsBadBuy  counts
0    ADESA         0    8629
1    ADESA         1    1582
2  MANHEIM         0   25831
3  MANHEIM         1    3340
4    OTHER         0   10902
5    OTHER         1    1496

50% of vehicles are in 2005 ~ 2007

In [94]:
import matplotlib.pyplot as plt
VehYear_info = input_2[['VehYear']].groupby(['VehYear']).size().reset_index(name="counts_overall")
VehYear_info['ratio'] = VehYear_info['counts_overall']/51780 
VehYear_info

   VehYear  counts_overall     ratio
0     2001            1067  0.020606
1     2002            2384  0.046041
2     2003            4469  0.086307
3     2004            7229  0.139610
4     2005           11031  0.213036
5     2006           12095  0.233584
6     2007            8067  0.155794
7     2008            4844  0.093550
8     2009             593  0.011452
9     2010               1  0.000019

In [95]:
VehYear_info_2 = input_2[['VehYear', 'IsBadBuy']].groupby(['VehYear','IsBadBuy']).size().reset_index(name="counts")
VehYear_info_2['ratio'] = VehYear_info_2['counts']/51780 
VehYear_info_2.sort_values(by=['ratio'], ascending=False)

    VehYear  IsBadBuy  counts     ratio
10     2006         0   10937  0.211221
8      2005         0    9542  0.184280
12     2007         0    7457  0.144013
6      2004         0    6096  0.117729
14     2008         0    4566  0.088181
4      2003         0    3605  0.069621
2      2002         0    1814  0.035033
9      2005         1    1489  0.028756
11     2006         1    1158  0.022364
7      2004         1    1133  0.021881
5      2003         1     864  0.016686
0      2001         0     767  0.014813
13     2007         1     610  0.011781
16     2009         0     577  0.011143
3      2002         1     570  0.011008
1      2001         1     300  0.005794
15     2008         1     278  0.005369
17     2009         1      16  0.000309
18     2010         0       1  0.000019

We can see that ratio of Badbuy is low in 2006 ~ 2009 model , while 2001 ~ 2005 model has high Badbuy ratio.
So seems like there are more badbuy model in older vehicle model.

In [96]:
merged_vehYear_info = pd.merge(VehYear_info, VehYear_info_2, on= ['VehYear'])
merged_vehYear_info['ratio_by_Cate'] = merged_vehYear_info['counts']/merged_vehYear_info['counts_overall']
merged_vehYear_info.sort_values(by=['ratio_by_Cate'], ascending=False)

,VehYear,counts_overall,ratio_x,IsBadBuy,counts,ratio_y,ratio_by_Cate
18,2010,1,0.000019,0,1,0.000019,1.000000
16,2009,593,0.011452,0,577,0.011143,0.973019
14,2008,4844,0.093550,0,4566,0.088181,0.942609
12,2007,8067,0.155794,0,7457,0.144013,0.924383
10,2006,12095,0.233584,0,10937,0.211221,0.904258
8,2005,11031,0.213036,0,9542,0.184280,0.865017
6,2004,7229,0.139610,0,6096,0.117729,0.843270
4,2003,4469,0.086307,0,3605,0.069621,0.806668
2,2002,2384,0.046041,0,1814,0.035033,0.760906
0,2001,1067,0.020606,0,767,0.014813,0.718838
1,2001,1067,0.020606,1,300,0.005794,0.281162
3,2002,2384,0.046041,1,570,0.011008,0.239094
5,2003,4469,0.086307,1,864,0.016686,0.193332
7,2004,7229,0.139610,1,1133,0.021881,0.156730
9,2005,11031,0.213036,1,1489,0.028756,0.134983
11,2006,12095,0.233584,1,1158,0.022364,0.095742
13,2007,8067,0.155794,1,610,0.011781,0.075617
15,2008,4844,0.093550,1,278,0.005369,0.057391
17,2009,593,0.011452,1,16,0.000309,0.026981

MAKE

In [103]:
make_input = input_2[['Make']].groupby(['Make']).size().reset_index(name="counts").sort_values(by=['counts'], ascending=False)
make_input["ratio"] = make_input['counts']/51780
make_input

            Make  counts     ratio
3      CHEVROLET   12135  0.234357
5          DODGE    9059  0.174952
6           FORD    7868  0.151951
4       CHRYSLER    6208  0.119892
24       PONTIAC    2951  0.056991
14           KIA    1725  0.033314
25        SATURN    1527  0.029490
21        NISSAN    1479  0.028563
17         MAZDA    1384  0.026728
10       HYUNDAI    1282  0.024759
13          JEEP    1116  0.021553
28        SUZUKI     940  0.018154
29        TOYOTA     803  0.015508
20    MITSUBISHI     722  0.013944
18       MERCURY     641  0.012379
1          BUICK     493  0.009521
7            GMC     451  0.008710
8          HONDA     328  0.006334
22    OLDSMOBILE     168  0.003244
12         ISUZU     102  0.001970
26         SCION      92  0.001777
31    VOLKSWAGEN      91  0.001757
16       LINCOLN      70  0.001352
15         LEXUS      25  0.000483
32         VOLVO      24  0.000463
11      INFINITI      23  0.000444
0          ACURA      21  0.000406
27        SUBARU      18  0.000348
19          MINI      15  0.000290
2       CADILLAC      15  0.000290
23      PLYMOUTH       2  0.000039
9         HUMMER       1  0.000019
30  TOYOTA SCION       1  0.000019

In [106]:
make_input['cumsum_ratio'] = make_input['ratio'].cumsum()
make_input

            Make  counts     ratio  cumsum_ratio
3      CHEVROLET   12135  0.234357      0.234357
5          DODGE    9059  0.174952      0.409309
6           FORD    7868  0.151951      0.561259
4       CHRYSLER    6208  0.119892      0.681151
24       PONTIAC    2951  0.056991      0.738142
14           KIA    1725  0.033314      0.771456
25        SATURN    1527  0.029490      0.800946
21        NISSAN    1479  0.028563      0.829509
17         MAZDA    1384  0.026728      0.856238
10       HYUNDAI    1282  0.024759      0.880997
13          JEEP    1116  0.021553      0.902549
28        SUZUKI     940  0.018154      0.920703
29        TOYOTA     803  0.015508      0.936211
20    MITSUBISHI     722  0.013944      0.950154
18       MERCURY     641  0.012379      0.962534
1          BUICK     493  0.009521      0.972055
7            GMC     451  0.008710      0.980765
8          HONDA     328  0.006334      0.987099
22    OLDSMOBILE     168  0.003244      0.990344
12         ISUZU     102  0.001970      0.992314
26         SCION      92  0.001777      0.994090
31    VOLKSWAGEN      91  0.001757      0.995848
16       LINCOLN      70  0.001352      0.997200
15         LEXUS      25  0.000483      0.997683
32         VOLVO      24  0.000463      0.998146
11      INFINITI      23  0.000444      0.998590
0          ACURA      21  0.000406      0.998996
27        SUBARU      18  0.000348      0.999343
19          MINI      15  0.000290      0.999633
2       CADILLAC      15  0.000290      0.999923
23      PLYMOUTH       2  0.000039      0.999961
9         HUMMER       1  0.000019      0.999981
30  TOYOTA SCION       1  0.000019      1.000000

In [102]:
input_2[['Make','IsBadBuy']].groupby(['Make','IsBadBuy']).size().reset_index(name="counts").sort_values(by=['counts'], ascending=False)

            Make  IsBadBuy  counts
6      CHEVROLET         0   10959
10         DODGE         0    8112
12          FORD         0    6674
8       CHRYSLER         0    5406
47       PONTIAC         0    2579
27           KIA         0    1514
49        SATURN         0    1318
41        NISSAN         0    1238
13          FORD         1    1194
7      CHEVROLET         1    1176
33         MAZDA         0    1148
19       HYUNDAI         0    1111
11         DODGE         1     947
25          JEEP         0     942
55        SUZUKI         0     804
9       CHRYSLER         1     802
57        TOYOTA         0     733
39    MITSUBISHI         0     642
35       MERCURY         0     531
2          BUICK         0     410
14           GMC         0     399
48       PONTIAC         1     372
16         HONDA         0     289
42        NISSAN         1     241
34         MAZDA         1     236
28           KIA         1     211
50        SATURN         1     209
26          JEEP         1     174
20       HYUNDAI         1     171
56        SUZUKI         1     136
..           ...       ...     ...
3          BUICK         1      83
51         SCION         0      82
40    MITSUBISHI         1      80
60    VOLKSWAGEN         0      78
58        TOYOTA         1      70
15           GMC         1      52
31       LINCOLN         0      51
17         HONDA         1      39
44    OLDSMOBILE         1      34
62         VOLVO         0      24
32       LINCOLN         1      19
29         LEXUS         0      17
53        SUBARU         0      16
0          ACURA         0      15
21      INFINITI         0      13
61    VOLKSWAGEN         1      13
4       CADILLAC         0      12
52         SCION         1      10
37          MINI         0      10
22      INFINITI         1      10
30         LEXUS         1       8
1          ACURA         1       6
38          MINI         1       5
24         ISUZU         1       4
5       CADILLAC         1       3
54        SUBARU         1       2
46      PLYMOUTH         1       1
45      PLYMOUTH         0       1
18        HUMMER         0       1
59  TOYOTA SCION         0       1

[63 rows x 3 columns]

Since there are too many categories, I will make  categories which are  below 5%  ohters

In [117]:
cate_list = make_input[make_input['cumsum_ratio'] >= 0.96]['Make'].tolist()
cate_list

['MERCURY',
 'BUICK',
 'GMC',
 'HONDA',
 'OLDSMOBILE',
 'ISUZU',
 'SCION',
 'VOLKSWAGEN',
 'LINCOLN',
 'LEXUS',
 'VOLVO',
 'INFINITI',
 'ACURA',
 'SUBARU',
 'MINI',
 'CADILLAC',
 'PLYMOUTH',
 'HUMMER',
 'TOYOTA SCION']

In [118]:
def convertMake(x, cate_list):
    if x in cate_list:
        x= "Others"
    return x

In [119]:
input_2['Make2'] = input_2['Make'].apply(lambda x: convertMake(x, cate_list))

In [121]:
#input_2[['Make','Make2']].head(5)
input_2['Make2'].value_counts()

CHEVROLET     12135
DODGE          9059
FORD           7868
CHRYSLER       6208
PONTIAC        2951
Others         2581
KIA            1725
SATURN         1527
NISSAN         1479
MAZDA          1384
HYUNDAI        1282
JEEP           1116
SUZUKI          940
TOYOTA          803
MITSUBISHI      722
Name: Make2, dtype: int64

In [123]:
input_2 = input_2.drop(columns=["Make"])

Model feature, since there are too many categories, I convert categorise to probability of 1 given category.

In [126]:
Model_info = input_2[['Model']].groupby(['Model']).size().reset_index(name="counts")  #.value_counts()/51780
Model_info['model_ratio']

PT CRUISER              0.031479
IMPALA                  0.027153
TAURUS                  0.019158
CALIBER                 0.018076
CARAVAN GRAND FWD V6    0.017574
MALIBU 4C               0.016744
SEBRING 4C              0.015624
TAURUS 3.0L V6 EFI      0.015585
PT CRUISER 2.4L I4 S    0.015064
COBALT                  0.014504
IMPALA V6               0.014388
1500 RAM PICKUP 2WD     0.014253
STRATUS V6 2.7L V6 M    0.013770
FOCUS                   0.012630
GRAND PRIX              0.011530
GRAND PRIX 3.8L V6 S    0.011375
IMPALA 3.5L V6 SFI      0.011085
MALIBU 4C 2.2L I4 MP    0.009637
ION                     0.009598
SPECTRA                 0.009309
ALTIMA                  0.009309
AVENGER 4C              0.008980
FORENZA                 0.008826
1500 SILVERADO PICKU    0.008150
MALIBU V6               0.007918
MAZDA6                  0.007686
HHR                     0.007590
STRATUS V6              0.007590
G6 V6                   0.007397
UPLANDER FWD V6         0.007377
                          ...
QX4 2WD V6 3.5L V6 M    0.000019
CAMRY 4C Multiple En    0.000019
LANCER 2.4L I4 EFI      0.000019
DURANGO 4WD V8 MFI V    0.000019
CAMRY SOLARA 4C Mult    0.000019
SENTRA 2.5L I-4 EFI     0.000019
AVALON 3.0L V6 EFI      0.000019
VITARA 2WD 4C 2.0L I    0.000019
BRAVADA AWD V6          0.000019
SENTRA 2.0L I4 EFI      0.000019
MDX 4WD 3.5L V6 EFI     0.000019
Pacifica                0.000019
IMPALA 3.5L V6 MPI /    0.000019
VERONA 2.5L I6 DI /     0.000019
H3 3.5L I5 MPI / SFI    0.000019
RENDEZVOUS AWD 3.5L     0.000019
SIENNA                  0.000019
PRIZM                   0.000019
FX35 AWD                0.000019
CHEROKEE 2WD 6C         0.000019
SEQUOIA 4WD             0.000019
FIT                     0.000019
SRX AWD V8 4.6L V8 S    0.000019
AVALANCHE 2500 2WD V    0.000019
LHS                     0.000019
COMPASS 4WD 4C 2.4L     0.000019
BRAVADA 2WD V6          0.000019
COMMANDER               0.000019
GRAND VITARA 2WD 2.5    0.000019
350Z 3.5L V6 MPI        0.000019
Name: Model, Length: 998, dtype: float64

In [129]:
model_overall_info = input_2[['Model']].groupby(['Model']).size().reset_index(name="overall_counts")

In [128]:
model_info = input_2[['Model','IsBadBuy']].groupby(['Model','IsBadBuy']).size().reset_index(name="counts")
model_info.head(10)

                  Model  IsBadBuy  counts
0   1500 RAM PICKUP 2WD         0     658
1   1500 RAM PICKUP 2WD         1      80
2   1500 RAM PICKUP 4WD         0      35
3   1500 RAM PICKUP 4WD         1       3
4  1500 SIERRA PICKUP 2         0      83
5  1500 SIERRA PICKUP 2         1       7
6  1500 SIERRA PICKUP 4         0       3
7  1500 SILVERADO PICKU         0     387
8  1500 SILVERADO PICKU         1      35
9  1500HD SIERRA PICKUP         1       1

In [132]:
joined_model_info = pd.merge(model_info, model_overall_info, on=['Model'])
joined_model_info['model_prob'] =  joined_model_info['counts'] /joined_model_info['overall_counts']

In [146]:
joined_model_info.sort_values(by=['overall_counts'], ascending=False).head(10)

                     Model  IsBadBuy  counts  overall_counts  model_prob
1087            PT CRUISER         1     312            1630    0.191411
1086            PT CRUISER         0    1318            1630    0.808589
705                 IMPALA         0    1291            1406    0.918208
706                 IMPALA         1     115            1406    0.081792
1375                TAURUS         0     847             992    0.853831
1376                TAURUS         1     145             992    0.146169
191                CALIBER         1      98             936    0.104701
190                CALIBER         0     838             936    0.895299
237   CARAVAN GRAND FWD V6         1     113             910    0.124176
236   CARAVAN GRAND FWD V6         0     797             910    0.875824

In [148]:
joined_model_info['overall_counts'].describe()

count    1615.000000
mean       63.256966
std       147.710907
min         1.000000
25%         4.000000
50%        12.000000
75%        49.000000
max      1630.000000
Name: overall_counts, dtype: float64

In [154]:
joined_model_info_1 = joined_model_info[joined_model_info['IsBadBuy'] ==1 ][['Model','model_prob']]

In [155]:
joined_model_info_1.shape

(676, 2)

In [156]:
input_3 = pd.merge(input_2, joined_model_info_1, on=['Model'], how= "left")

In [159]:
input_3.loc[input_3['model_prob'].isnull(),'model_prob'] = 0

In [160]:
input_3['model_prob'].describe()

count    51780.000000
mean         0.123947
std          0.079064
min          0.000000
25%          0.078947
50%          0.108401
75%          0.150442
max          1.000000
Name: model_prob, dtype: float64

In [212]:
input_3.columns.values

array(['PurchDate', 'Auction', 'VehYear', 'Model', 'Trim', 'SubModel',
       'Color', 'Transmission', 'WheelTypeID', 'WheelType', 'VehOdo',
       'Size', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost',
       'IsBadBuy', 'PurchYear', 'Make2', 'model_prob'], dtype=object)

Trim_info ! This also have > 100 categories, Even the number of categories goes up to 95% percentile is still 55. 
We need to convert this to probabilty of isBadbuy being 1 given that category.

In [183]:
Trim_info = input_3[['Trim']].groupby(('Trim')).size().reset_index(name="overall_counts").sort_values(['overall_counts'],ascending = False)

In [184]:
Trim_info['Trim_ratio'] = Trim_info['overall_counts']/51780
Trim_info['cumsum'] = Trim_info['Trim_ratio'].cumsum()
Trim_info[Trim_info['cumsum']<=0.95].shape

(55, 4)

In [185]:
trim_info_1 = input_2[['Trim','IsBadBuy']].groupby(['Trim','IsBadBuy']).size().reset_index(name="counts")
trim_info_1.head(10)

  Trim  IsBadBuy  counts
0    1         0     108
1    1         1      10
2  150         0     190
3  150         1      25
4    2         0     446
5    2         1      82
6  250         0       3
7    3         0     114
8    3         1      16
9  3 R         0       5

In [213]:
joined_Trim = pd.merge(Trim_info, trim_info_1, on=['Trim'])
joined_Trim['trim_prob'] = joined_Trim['counts']/joined_Trim['overall_counts']

In [214]:
joined_Trim_1 = joined_Trim[joined_Trim['IsBadBuy']==1][['Trim','trim_prob']]

In [215]:
input_3_1 = pd.merge(input_3,joined_Trim_1, on = ['Trim'], how="left")

In [216]:
input_3_1.loc[input_3_1['trim_prob'].isnull(),'trim_prob'] = 0

In [217]:
input_3_2 = input_3_1.drop(columns=['Model','Trim'])
input_3_2.head(5)

,PurchDate,Auction,VehYear,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Size,...,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy,PurchYear,Make2,model_prob,trim_prob
0,5/18/2010,MANHEIM,2004,4D SEDAN LS,BLACK,AUTO,1.0,Alloy,76029,MEDIUM,...,85040,AZ,7440.0,0,1272,0,2010,CHEVROLET,0.112360,0.075200
1,12/8/2010,ADESA,2006,4D SEDAN,BLUE,AUTO,NaN,NaN,81101,COMPACT,...,85226,AZ,4299.0,0,594,1,2010,KIA,0.122137,0.123947
2,7/28/2010,MANHEIM,2006,2D COUPE,SILVER,MANUAL,1.0,Alloy,64259,SPORTS,...,78219,TX,9735.0,0,728,1,2010,FORD,0.186603,0.123947
3,4/1/2010,MANHEIM,2005,4D SEDAN I,GREEN,AUTO,2.0,Covers,68333,MEDIUM,...,33762,FL,7020.0,0,923,0,2010,MAZDA,0.092199,0.109827
4,11/22/2010,MANHEIM,2007,4D SEDAN,GOLD,AUTO,2.0,Covers,72041,COMPACT,...,33619,FL,5150.0,0,569,0,2010,KIA,0.122137,0.123947

In [218]:
input_3_2.columns.values

array(['PurchDate', 'Auction', 'VehYear', 'SubModel', 'Color',
       'Transmission', 'WheelTypeID', 'WheelType', 'VehOdo', 'Size',
       'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost',
       'IsBadBuy', 'PurchYear', 'Make2', 'model_prob', 'trim_prob'],
      dtype=object)

Check SubModel

In [219]:
#input_3_2['SubModel'].value_counts()
SubModel_info = input_3_2[['SubModel']].groupby(('SubModel')).size().reset_index(name="overall_counts").sort_values(['overall_counts'],ascending = False)
SubModel_info['SubModel_ratio'] =SubModel_info['overall_counts']/51780

In [220]:
SubModel_info['cumsum'] = SubModel_info['SubModel_ratio'].cumsum()

In [221]:
SubModel_info[SubModel_info['cumsum']<=0.95].shape

(254, 4)

In [223]:
SubModel_info_1 = input_3_2[['SubModel','IsBadBuy']].groupby(['SubModel','IsBadBuy']).size().reset_index(name="counts").sort_values(['counts'],ascending = False)
SubModel_info_1.head(5)

        SubModel  IsBadBuy  counts
234     4D SEDAN         0    9314
356  4D SEDAN LS         0    3017
408  4D SEDAN SE         0    2339
756     4D WAGON         0    1383
235     4D SEDAN         1    1321

In [224]:
joined_submodel = pd.merge(SubModel_info, SubModel_info_1, on=['SubModel'])
joined_submodel['submodel_prob'] = joined_submodel['counts']/joined_submodel['overall_counts']

In [225]:
joined_submodel.head(5)

,SubModel,overall_counts,SubModel_ratio,cumsum,IsBadBuy,counts,submodel_prob
0,4D SEDAN,10635,0.205388,0.205388,0,9314,0.875787
1,4D SEDAN,10635,0.205388,0.205388,1,1321,0.124213
2,4D SEDAN LS,3278,0.063306,0.268694,0,3017,0.920378
3,4D SEDAN LS,3278,0.063306,0.268694,1,261,0.079622
4,4D SEDAN SE,2690,0.051951,0.320645,0,2339,0.869517

In [226]:
joined_submodel_1 = joined_submodel[joined_submodel['IsBadBuy']==1][['SubModel','submodel_prob']]

In [228]:
input_3_3 = pd.merge(input_3_2,joined_submodel_1, on = ['SubModel'], how="left")
input_3_3.head(5)

,PurchDate,Auction,VehYear,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Size,...,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy,PurchYear,Make2,model_prob,trim_prob,submodel_prob
0,5/18/2010,MANHEIM,2004,4D SEDAN LS,BLACK,AUTO,1.0,Alloy,76029,MEDIUM,...,AZ,7440.0,0,1272,0,2010,CHEVROLET,0.112360,0.075200,0.079622
1,12/8/2010,ADESA,2006,4D SEDAN,BLUE,AUTO,NaN,NaN,81101,COMPACT,...,AZ,4299.0,0,594,1,2010,KIA,0.122137,0.123947,0.124213
2,7/28/2010,MANHEIM,2006,2D COUPE,SILVER,MANUAL,1.0,Alloy,64259,SPORTS,...,TX,9735.0,0,728,1,2010,FORD,0.186603,0.123947,0.170532
3,4/1/2010,MANHEIM,2005,4D SEDAN I,GREEN,AUTO,2.0,Covers,68333,MEDIUM,...,FL,7020.0,0,923,0,2010,MAZDA,0.092199,0.109827,0.116438
4,11/22/2010,MANHEIM,2007,4D SEDAN,GOLD,AUTO,2.0,Covers,72041,COMPACT,...,FL,5150.0,0,569,0,2010,KIA,0.122137,0.123947,0.124213

In [229]:
input_3_3.loc[input_3_3['submodel_prob'].isnull(),'submodel_prob'] = 0

In [230]:
input_3_3 = input_3_3.drop(columns=['SubModel'])

Let's look at Color feature

In [233]:
input_3_3['Color'].value_counts()

SILVER       10574
WHITE         8619
BLUE          7338
GREY          5617
BLACK         5384
RED           4437
GOLD          3688
GREEN         2246
MAROON        1477
BEIGE         1113
ORANGE         304
BROWN          286
PURPLE         271
YELLOW         185
OTHER          165
NOT AVAIL       70
Name: Color, dtype: int64

In [240]:
input_3_3[['Color','IsBadBuy']].groupby(['Color','IsBadBuy']).size().reset_index(name='counts').sort_values(['counts'],ascending = False).head(10)

     Color  IsBadBuy  counts
26  SILVER         0    9243
28   WHITE         0    7538
4     BLUE         0    6498
12    GREY         0    4943
2    BLACK         0    4795
24     RED         0    3848
8     GOLD         0    3167
10   GREEN         0    1953
27  SILVER         1    1331
14  MAROON         0    1290

In [241]:
input_3_3['Transmission'].value_counts()

AUTO      49872
MANUAL     1901
Name: Transmission, dtype: int64

In [242]:
input_3_3['WheelType'].value_counts()

Alloy      25774
Covers     23278
Special      514
Name: WheelType, dtype: int64

In [243]:
#Size
input_3_3['Size'].value_counts()

MEDIUM         22002
LARGE           6169
MEDIUM SUV      5752
COMPACT         5098
VAN             4118
LARGE TRUCK     2174
SMALL SUV       1707
SPECIALTY       1325
CROSSOVER       1258
LARGE SUV       1000
SMALL TRUCK      641
SPORTS           533
Name: Size, dtype: int64

In [244]:
input_3_3['PRIMEUNIT'].value_counts()

NO     2416
YES      47
Name: PRIMEUNIT, dtype: int64

In [245]:
input_3_3['AUCGUART'].value_counts()

GREEN    2412
RED        51
Name: AUCGUART, dtype: int64

In [251]:
#VNST
VNST_INFO = input_3_3[['VNST']].groupby('VNST').size().reset_index(name='counts')

In [253]:
VNST_INFO['vnst_ratio'] = VNST_INFO['counts']/51780

In [257]:
VNST_INFO = VNST_INFO.sort_values(by=['vnst_ratio'], ascending=False)

In [258]:
VNST_INFO['cumsum'] = VNST_INFO['vnst_ratio'].cumsum()

In [265]:
vnst_list = VNST_INFO[VNST_INFO['cumsum']<=0.95]['VNST'].tolist()

In [266]:
def conv_vnst(x,vns_list):
    if x not in vns_list:
        x = "others"
    return x

In [267]:
input_3_3['VNST'] = input_3_3['VNST'].apply(lambda x: conv_vnst(x,vnst_list))

In [268]:
input_3_3['VNST'].value_counts()

TX        9608
FL        7495
CA        5089
NC        5045
AZ        4272
CO        3514
SC        3057
others    2614
OK        2498
GA        1708
TN        1245
VA        1177
MD         837
UT         648
PA         603
OH         571
MO         549
AL         488
NV         401
MS         361
Name: VNST, dtype: int64

# Convert to dummy

In [296]:
input_3_4 = input_3_3.drop(columns=['WheelTypeID','PurchDate'])

In [297]:
input_3_4.columns.values

array(['Auction', 'VehYear', 'Color', 'Transmission', 'WheelType',
       'VehOdo', 'Size', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost',
       'IsBadBuy', 'PurchYear', 'Make2', 'model_prob', 'trim_prob',
       'submodel_prob'], dtype=object)

In [298]:
input_3_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51780 entries, 0 to 51779
Data columns (total 29 columns):
Auction                              51780 non-null object
VehYear                              51780 non-null int64
Color                                51774 non-null object
Transmission                         51773 non-null object
WheelType                            49566 non-null object
VehOdo                               51780 non-null int64
Size                                 51777 non-null object
MMRAcquisitionAuctionAveragePrice    51770 non-null float64
MMRAcquisitionAuctionCleanPrice      51770 non-null float64
MMRAcquisitionRetailAveragePrice     51770 non-null float64
MMRAcquisitonRetailCleanPrice        51770 non-null float64
MMRCurrentAuctionAveragePrice        51576 non-null float64
MMRCurrentAuctionCleanPrice          51576 non-null float64
MMRCurrentRetailAveragePrice         51576 non-null float64
MMRCurrentRetailCleanPrice           51576 non-null float64
PRIMEUNIT                            2463 non-null object
AUCGUART                             2463 non-null object
BYRNO                                51780 non-null int64
VNZIP1                               51780 non-null int64
VNST                                 51780 non-null object
VehBCost                             51780 non-null float64
IsOnlineSale                         51780 non-null int64
WarrantyCost                         51780 non-null int64
IsBadBuy                             51780 non-null int64
PurchYear                            51780 non-null object
Make2                                51780 non-null object
model_prob                           51780 non-null float64
trim_prob                            51780 non-null float64
submodel_prob                        51780 non-null float64
dtypes: float64(12), int64(7), object(10)
memory usage: 11.9+ MB

In [299]:
df_Color = pd.get_dummies(input_3_4['Color']) 
input_3_4 = input_3_4.drop(columns= ['Color'])
df_Color.head(2)

,BEIGE,BLACK,BLUE,BROWN,GOLD,GREEN,GREY,MAROON,NOT AVAIL,ORANGE,OTHER,PURPLE,RED,SILVER,WHITE,YELLOW
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [300]:
df_Transmission = pd.get_dummies(input_3_4['Transmission']) 
input_3_4 = input_3_4.drop(columns= ['Transmission'])
df_Transmission.head(2)

   AUTO  MANUAL
0     1       0
1     1       0

In [301]:
df_WheelType = pd.get_dummies(input_3_4['WheelType']) 
input_3_4 = input_3_4.drop(columns= ['WheelType'])
df_WheelType.head(2)

   Alloy  Covers  Special
0      1       0        0
1      0       0        0

In [302]:
df_Size = pd.get_dummies(input_3_4['Size']) 
input_3_4= input_3_4.drop(columns= ['Size'])
df_Size.head(2)

,COMPACT,CROSSOVER,LARGE,LARGE SUV,LARGE TRUCK,MEDIUM,MEDIUM SUV,SMALL SUV,SMALL TRUCK,SPECIALTY,SPORTS,VAN
0,0,0,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0

In [303]:
df_PRIMEUNIT = pd.get_dummies(input_3_4['PRIMEUNIT']) 
input_3_4 = input_3_4.drop(columns= ['PRIMEUNIT'])
df_PRIMEUNIT.head(2)

   NO  YES
0   0    0
1   0    0

In [305]:
df_AUCGUART = pd.get_dummies(input_3_4['AUCGUART']) 
input_3_4 = input_3_4.drop(columns= ['AUCGUART'])
df_AUCGUART.head(2)

   GREEN  RED
0      0    0
1      0    0

In [307]:
df_PurchYear = pd.get_dummies(input_3_4['PurchYear']) 
input_3_4 = input_3_4.drop(columns= ['PurchYear'])
df_PurchYear.head(2)

   2009  2010
0     0     1
1     0     1

In [308]:
df_Make = pd.get_dummies(input_3_4['Make2']) 
input_3_4 = input_3_4.drop(columns= ['Make2'])
df_Make.head(2)

,CHEVROLET,CHRYSLER,DODGE,FORD,HYUNDAI,JEEP,KIA,MAZDA,MITSUBISHI,NISSAN,Others,PONTIAC,SATURN,SUZUKI,TOYOTA
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [309]:
df_Auction = pd.get_dummies(input_3_4['Auction']) 
input_3_4 = input_3_4.drop(columns= ['Auction'])
df_Auction.head(2)

   ADESA  MANHEIM  OTHER
0      0        1      0
1      1        0      0

In [310]:
df_VNST = pd.get_dummies(input_3_4['VNST']) 
input_3_4 = input_3_4.drop(columns= ['VNST'])
df_VNST.head(2)

,AL,AZ,CA,CO,FL,GA,MD,MO,MS,NC,NV,OH,OK,PA,SC,TN,TX,UT,VA,others
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [355]:
df_cate = pd.concat([df_Color, df_Transmission, df_WheelType, df_Size, df_PRIMEUNIT, df_AUCGUART, df_Make, df_Auction, df_VNST], axis=1)
df_cate.columns.values

array(['BEIGE', 'BLACK', 'BLUE', 'BROWN', 'GOLD', 'GREEN', 'GREY',
       'MAROON', 'NOT AVAIL', 'ORANGE', 'OTHER', 'PURPLE', 'RED',
       'SILVER', 'WHITE', 'YELLOW', 'AUTO', 'MANUAL', 'Alloy', 'Covers',
       'Special', 'COMPACT', 'CROSSOVER', 'LARGE', 'LARGE SUV',
       'LARGE TRUCK', 'MEDIUM', 'MEDIUM SUV', 'SMALL SUV', 'SMALL TRUCK',
       'SPECIALTY', 'SPORTS', 'VAN', 'NO', 'YES', 'GREEN', 'RED',
       'CHEVROLET', 'CHRYSLER', 'DODGE', 'FORD', 'HYUNDAI', 'JEEP', 'KIA',
       'MAZDA', 'MITSUBISHI', 'NISSAN', 'Others', 'PONTIAC', 'SATURN',
       'SUZUKI', 'TOYOTA', 'ADESA', 'MANHEIM', 'OTHER', 'AL', 'AZ', 'CA',
       'CO', 'FL', 'GA', 'MD', 'MO', 'MS', 'NC', 'NV', 'OH', 'OK', 'PA',
       'SC', 'TN', 'TX', 'UT', 'VA', 'others'], dtype=object)

# Numerical Value Analysis

In [312]:
input_3_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51780 entries, 0 to 51779
Data columns (total 19 columns):
VehYear                              51780 non-null int64
VehOdo                               51780 non-null int64
MMRAcquisitionAuctionAveragePrice    51770 non-null float64
MMRAcquisitionAuctionCleanPrice      51770 non-null float64
MMRAcquisitionRetailAveragePrice     51770 non-null float64
MMRAcquisitonRetailCleanPrice        51770 non-null float64
MMRCurrentAuctionAveragePrice        51576 non-null float64
MMRCurrentAuctionCleanPrice          51576 non-null float64
MMRCurrentRetailAveragePrice         51576 non-null float64
MMRCurrentRetailCleanPrice           51576 non-null float64
BYRNO                                51780 non-null int64
VNZIP1                               51780 non-null int64
VehBCost                             51780 non-null float64
IsOnlineSale                         51780 non-null int64
WarrantyCost                         51780 non-null int64
IsBadBuy                             51780 non-null int64
model_prob                           51780 non-null float64
trim_prob                            51780 non-null float64
submodel_prob                        51780 non-null float64
dtypes: float64(12), int64(7)
memory usage: 7.9 MB

WE can see high correlation among acqusition realted features !

In [316]:
input_3_4.corr()

,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy,model_prob,trim_prob,submodel_prob
VehYear,1.000000,-0.282935,0.583567,0.535952,0.581606,0.540121,0.592797,0.551009,0.599145,0.559731,0.280529,0.065802,0.348507,0.057670,-0.264469,-0.158127,-0.353974,-0.239599,-0.318788
VehOdo,-0.282935,1.000000,-0.021404,0.020357,0.028910,0.061118,-0.033336,0.007522,0.011865,0.044461,-0.288864,-0.049135,-0.065897,0.029523,0.410788,0.079570,0.090424,0.085503,0.056388
MMRAcquisitionAuctionAveragePrice,0.583567,-0.021404,1.000000,0.990353,0.909814,0.909348,0.939487,0.934214,0.873665,0.872751,0.108765,0.045781,0.790454,0.036860,-0.051020,-0.110405,-0.245087,-0.110046,-0.190614
MMRAcquisitionAuctionCleanPrice,0.535952,0.020357,0.990353,1.000000,0.902428,0.917681,0.925489,0.933964,0.862991,0.873209,0.063762,0.040882,0.782439,0.036805,-0.021436,-0.104122,-0.231313,-0.104289,-0.182987
MMRAcquisitionRetailAveragePrice,0.581606,0.028910,0.909814,0.902428,1.000000,0.990162,0.852809,0.851091,0.914795,0.907821,0.106291,0.036077,0.747282,0.080124,-0.052209,-0.088283,-0.190549,-0.108561,-0.177369
MMRAcquisitonRetailCleanPrice,0.540121,0.061118,0.909348,0.917681,0.990162,1.000000,0.847993,0.857187,0.904959,0.908619,0.068696,0.031900,0.746140,0.077211,-0.025870,-0.084473,-0.183703,-0.106268,-0.172562
MMRCurrentAuctionAveragePrice,0.592797,-0.033336,0.939487,0.925489,0.852809,0.847993,1.000000,0.990335,0.915291,0.912228,0.112141,0.049082,0.778891,0.039735,-0.056221,-0.109704,-0.244600,-0.108817,-0.191497
MMRCurrentAuctionCleanPrice,0.551009,0.007522,0.934214,0.933964,0.851091,0.857187,0.990335,1.000000,0.909180,0.921788,0.069903,0.044154,0.775563,0.040338,-0.027801,-0.104532,-0.232185,-0.104225,-0.185579
MMRCurrentRetailAveragePrice,0.599145,0.011865,0.873665,0.862991,0.914795,0.904959,0.915291,0.909180,1.000000,0.989800,0.110702,0.040067,0.757400,0.079380,-0.056574,-0.103785,-0.203024,-0.110880,-0.184425
MMRCurrentRetailCleanPrice,0.559731,0.044461,0.872751,0.873209,0.907821,0.908619,0.912228,0.921788,0.989800,1.000000,0.074956,0.036169,0.757383,0.076504,-0.029884,-0.099874,-0.195972,-0.109121,-0.179501
BYRNO,0.280529,-0.288864,0.108765,0.063762,0.106291,0.068696,0.112141,0.069903,0.110702,0.074956,1.000000,0.035354,0.043867,-0.145561,-0.089406,-0.060525,-0.110217,-0.042702,-0.098266
VNZIP1,0.065802,-0.049135,0.045781,0.040882,0.036077,0.031900,0.049082,0.044154,0.040067,0.036169,0.035354,1.000000,0.018973,0.028531,-0.033349,0.006247,-0.012123,0.002223,-0.006686
VehBCost,0.348507,-0.065897,0.790454,0.782439,0.747282,0.746140,0.778891,0.775563,0.757400,0.757383,0.043867,0.018973,1.000000,0.032970,-0.030469,-0.099463,-0.193864,-0.069274,-0.132484
IsOnlineSale,0.057670,0.029523,0.036860,0.036805,0.080124,0.077211,0.039735,0.040338,0.079380,0.076504,-0.145561,0.028531,0.032970,1.000000,0.004736,-0.002729,-0.011588,-0.010050,-0.014897
WarrantyCost,-0.264469,0.410788,-0.051020,-0.021436,-0.052209,-0.025870,-0.056221,-0.027801,-0.056574,-0.029884,-0.089406,-0.033349,-0.030469,0.004736,1.000000,0.051423,0.101412,-0.003805,0.070424
IsBadBuy,-0.158127,0.079570,-0.110405,-0.104122,-0.088283,-0.084473,-0.109704,-0.104532,-0.103785,-0.099874,-0.060525,0.006247,-0.099463,-0.002729,0.051423,1.000000,0.239934,0.090778,0.205759
model_prob,-0.353974,0.090424,-0.245087,-0.231313,-0.190549,-0.183703,-0.244600,-0.232185,-0.203024,-0.195972,-0.110217,-0.012123,-0.193864,-0.011588,0.101412,0.239934,1.000000,0.217165,0.435851
trim_prob,-0.239599,0.085503,-0.110046,-0.104289,-0.108561,-0.106268,-0.108817,-0.104225,-0.110880,-0.109121,-0.042702,0.002223,-0.069274,-0.010050,-0.003805,0.090778,0.217165,1.000000,0.381752
submodel_prob,-0.318788,0.056388,-0.190614,-0.182987,-0.177369,-0.172562,-0.191497,-0.185579,-0.184425,-0.179501,-0.098266,-0.006686,-0.132484,-0.014897,0.070424,0.205759,0.435851,0.381752,1.000000

# Missing value imputation

In [328]:
input_3_4.loc[input_3_4['MMRAcquisitionAuctionAveragePrice'].isnull(),'MMRAcquisitionAuctionAveragePrice'] = input_3_4['MMRAcquisitionAuctionAveragePrice'].mean()

In [330]:
input_3_4.loc[input_3_4['MMRAcquisitionAuctionCleanPrice'].isnull(),'MMRAcquisitionAuctionCleanPrice'] = input_3_4['MMRAcquisitionAuctionCleanPrice'].mean()
input_3_4.loc[input_3_4['MMRAcquisitionRetailAveragePrice'].isnull(),'MMRAcquisitionRetailAveragePrice'] = input_3_4['MMRAcquisitionRetailAveragePrice'].mean()
input_3_4.loc[input_3_4['MMRAcquisitonRetailCleanPrice'].isnull(),'MMRAcquisitonRetailCleanPrice'] = input_3_4['MMRAcquisitonRetailCleanPrice'].mean()
input_3_4.loc[input_3_4['MMRCurrentAuctionAveragePrice'].isnull(),'MMRCurrentAuctionAveragePrice'] = input_3_4['MMRCurrentAuctionAveragePrice'].mean()

input_3_4.loc[input_3_4['MMRCurrentAuctionCleanPrice'].isnull(),'MMRCurrentAuctionCleanPrice'] = input_3_4['MMRCurrentAuctionCleanPrice'].mean()
input_3_4.loc[input_3_4['MMRCurrentRetailAveragePrice'].isnull(),'MMRCurrentRetailAveragePrice'] = input_3_4['MMRCurrentRetailAveragePrice'].mean()
input_3_4.loc[input_3_4['MMRCurrentRetailCleanPrice'].isnull(),'MMRCurrentRetailCleanPrice'] = input_3_4['MMRCurrentRetailCleanPrice'].mean()

# Remove mulitcolinearity

In [331]:
from sklearn.decomposition import PCA
correlated_data = input_3_4[['MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice','MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice','MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice','MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice','VehBCost']]

In [332]:
pca = PCA(n_components=5)
pca.fit(correlated_data)

PCA(copy=True, iterated_power='auto', n_components=5, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [333]:
print(pca.explained_variance_ratio_)

[0.90983456 0.03548836 0.03042203 0.01499326 0.00472823]

In [335]:
principalComponents = pca.fit_transform(correlated_data)

In [337]:
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4', 'principal component 5'])

In [341]:
print correlated_data.shape, principalDf.shape, principalComponents.shape

(51780, 9) (51780, 5) (51780, 5)

In [344]:
new_features = principalDf[['principal component 1', 'principal component 2', 'principal component 3']]
#acqusition_PC1
new_features = new_features.rename({'principal component 1':'acqusition_PC1', 'principal component 2':'acqusition_PC2', 'principal component 3':'acqusition_PC3'}, axis='columns')

In [345]:
new_features.head(5)

   acqusition_PC1  acqusition_PC2  acqusition_PC3
0     -996.378875    -1595.639489     -271.278619
1    -5992.916460    -2470.153130     2953.260515
2    10568.988078    -1408.801560    -1066.422039
3     3123.794641    -1382.754995      366.309141
4    -5321.159758     -189.955629     2222.137203

In [349]:
input_3_5 = pd.concat([input_3_4,new_features], axis=1)

In [350]:
input_3_6 = input_3_5.drop(columns = ['MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice','MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice','MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice','MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice','VehBCost'])

In [351]:
input_3_6.corr()

,VehYear,VehOdo,BYRNO,VNZIP1,IsOnlineSale,WarrantyCost,IsBadBuy,model_prob,trim_prob,submodel_prob,acqusition_PC1,acqusition_PC2,acqusition_PC3
VehYear,1.000000,-0.282935,0.280529,0.065802,0.057670,-0.264469,-0.158127,-0.353974,-0.239599,-0.318788,5.843337e-01,5.929801e-03,5.696284e-02
VehOdo,-0.282935,1.000000,-0.288864,-0.049135,0.029523,0.410788,0.079570,0.090424,0.085503,0.056388,1.904484e-02,-1.169789e-01,5.789158e-02
BYRNO,0.280529,-0.288864,1.000000,0.035354,-0.145561,-0.089406,-0.060525,-0.110217,-0.042702,-0.098266,9.022335e-02,1.014197e-03,2.190963e-02
VNZIP1,0.065802,-0.049135,0.035354,1.000000,0.028531,-0.033349,0.006247,-0.012123,0.002223,-0.006686,4.033723e-02,2.100482e-02,-6.134717e-03
IsOnlineSale,0.057670,0.029523,-0.145561,0.028531,1.000000,0.004736,-0.002729,-0.011588,-0.010050,-0.014897,6.466362e-02,-7.317238e-02,7.643912e-02
WarrantyCost,-0.264469,0.410788,-0.089406,-0.033349,0.004736,1.000000,0.051423,0.101412,-0.003805,0.070424,-4.070008e-02,-3.796497e-03,-1.640018e-02
IsBadBuy,-0.158127,0.079570,-0.060525,0.006247,-0.002729,0.051423,1.000000,0.239934,0.090778,0.205759,-1.035548e-01,-4.617117e-02,7.535628e-03
model_prob,-0.353974,0.090424,-0.110217,-0.012123,-0.011588,0.101412,0.239934,1.000000,0.217165,0.435851,-2.194667e-01,-1.012266e-01,7.117473e-02
trim_prob,-0.239599,0.085503,-0.042702,0.002223,-0.010050,-0.003805,0.090778,0.217165,1.000000,0.381752,-1.112182e-01,3.354964e-03,-8.042723e-03
submodel_prob,-0.318788,0.056388,-0.098266,-0.006686,-0.014897,0.070424,0.205759,0.435851,0.381752,1.000000,-1.881765e-01,-2.459845e-02,5.838491e-03
acqusition_PC1,0.584334,0.019045,0.090223,0.040337,0.064664,-0.040700,-0.103555,-0.219467,-0.111218,-0.188177,1.000000e+00,2.340032e-17,1.459851e-17
acqusition_PC2,0.005930,-0.116979,0.001014,0.021005,-0.073172,-0.003796,-0.046171,-0.101227,0.003355,-0.024598,2.340032e-17,1.000000e+00,3.179079e-16
acqusition_PC3,0.056963,0.057892,0.021910,-0.006135,0.076439,-0.016400,0.007536,0.071175,-0.008043,0.005838,1.459851e-17,3.179079e-16,1.000000e+00

In [362]:
input_3_6.describe()

,VehYear,VehOdo,BYRNO,VNZIP1,IsOnlineSale,WarrantyCost,IsBadBuy,model_prob,trim_prob,submodel_prob,acqusition_PC1,acqusition_PC2,acqusition_PC3
count,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,5.178000e+04,5.178000e+04,5.178000e+04
mean,2005.338953,71481.447316,26332.133507,57936.654268,0.026246,1274.779336,0.123947,0.123947,0.118733,0.123928,-1.438892e-13,-6.519977e-13,-1.117108e-13
std,1.731042,14581.446256,25687.871501,26186.079697,0.159867,597.245579,0.329525,0.079064,0.043988,0.067838,8.055331e+03,1.590908e+03,1.472978e+03
min,2001.000000,8706.000000,835.000000,2764.000000,0.000000,462.000000,0.000000,0.000000,0.000000,0.000000,-2.346087e+04,-1.247711e+04,-1.365222e+04
25%,2004.000000,61831.250000,17212.000000,32124.000000,0.000000,853.000000,0.000000,0.078947,0.095699,0.094086,-5.842504e+03,-1.196627e+03,-1.086878e+03
50%,2005.000000,73325.000000,19662.000000,73108.000000,0.000000,1155.000000,0.000000,0.108401,0.123618,0.124213,-1.180634e+01,-1.051300e+02,1.771944e+02
75%,2007.000000,82400.250000,22808.000000,80022.000000,0.000000,1623.000000,0.000000,0.150442,0.126789,0.134565,5.237698e+03,1.093135e+03,9.192558e+02
max,2010.000000,115717.000000,99761.000000,99224.000000,1.000000,7498.000000,1.000000,1.000000,1.000000,1.000000,8.802107e+04,1.710464e+04,1.622527e+04

df_final_features = pd.concat([df_cate,input_3_6], axis=1)

In [357]:
df_final_features.corr()

,BEIGE,BLACK,BLUE,BROWN,GOLD,GREEN,GREY,MAROON,NOT AVAIL,ORANGE,...,VNZIP1,IsOnlineSale,WarrantyCost,IsBadBuy,model_prob,trim_prob,submodel_prob,acqusition_PC1,acqusition_PC2,acqusition_PC3
BEIGE,1.000000,-0.050489,-0.060225,-0.011046,-0.041043,-0.031560,-0.051700,-0.025397,-0.005453,-0.011390,...,0.009430,0.003156,0.009675,0.003252,0.007059,0.009937,0.014181,3.796391e-03,-5.653833e-03,1.294877e-02
BLACK,-0.050489,1.000000,-0.138422,-0.025387,-0.094335,-0.072538,-0.118828,-0.058372,-0.012534,-0.026179,...,-0.012406,0.017293,-0.041470,-0.015041,-0.024784,-0.012521,-0.011168,8.877140e-02,1.619749e-02,-9.745333e-03
BLUE,-0.060225,-0.138422,1.000000,-0.030283,-0.112526,-0.086526,-0.141742,-0.069628,-0.014950,-0.031227,...,-0.027821,-0.005400,-0.006690,-0.011684,-0.019506,-0.004838,-0.027910,7.598817e-03,-2.931063e-03,-1.095985e-03
BROWN,-0.011046,-0.025387,-0.030283,1.000000,-0.020638,-0.015869,-0.025996,-0.012770,-0.002742,-0.005727,...,0.017493,0.002435,0.033771,-0.001146,-0.001784,0.000969,0.000927,1.144188e-02,7.874910e-04,-5.435698e-03
GOLD,-0.041043,-0.094335,-0.112526,-0.020638,1.000000,-0.058967,-0.096597,-0.047452,-0.010189,-0.021281,...,-0.007830,-0.008358,0.036600,0.014557,0.022315,-0.000615,0.032317,-6.675506e-02,-8.485558e-04,3.518875e-03
GREEN,-0.031560,-0.072538,-0.086526,-0.015869,-0.058967,1.000000,-0.074278,-0.036488,-0.007835,-0.016364,...,-0.023489,-0.008865,0.015187,0.004205,0.020963,0.020668,0.014531,-3.842690e-02,-1.816625e-04,5.053238e-04
GREY,-0.051700,-0.118828,-0.141742,-0.025996,-0.096597,-0.074278,1.000000,-0.059772,-0.012834,-0.026806,...,0.002591,0.009159,0.007120,-0.004186,-0.042111,-0.004529,-0.027777,6.919666e-02,-1.264444e-03,-1.202248e-02
MAROON,-0.025397,-0.058372,-0.069628,-0.012770,-0.047452,-0.036488,-0.059772,1.000000,-0.006305,-0.013168,...,-0.035098,0.000896,0.037864,0.001383,0.006023,-0.007062,0.006120,-1.513844e-02,-9.158539e-03,-8.198722e-03
NOT AVAIL,-0.005453,-0.012534,-0.014950,-0.002742,-0.010189,-0.007835,-0.012834,-0.006305,1.000000,-0.002827,...,0.006014,-0.006040,0.000020,0.018062,0.007560,0.006858,0.009824,-1.142819e-02,6.285712e-03,-1.913331e-02
ORANGE,-0.011390,-0.026179,-0.031227,-0.005727,-0.021281,-0.016364,-0.026806,-0.013168,-0.002827,1.000000,...,0.009281,0.000034,-0.048066,-0.008960,-0.006146,-0.001951,-0.000012,1.071750e-03,2.369710e-03,7.418058e-03
OTHER,-0.008380,-0.019260,-0.022974,-0.004214,-0.015657,-0.012039,-0.019722,-0.009688,-0.002080,-0.004345,...,0.004059,-0.004995,0.007586,-0.001509,-0.010749,0.000041,-0.009241,2.789701e-03,2.415930e-02,-1.124655e-02
PURPLE,-0.010750,-0.024709,-0.029474,-0.005406,-0.020086,-0.015445,-0.025302,-0.012429,-0.002669,-0.005574,...,-0.009162,-0.001863,-0.002507,0.003582,0.002754,-0.000275,0.004331,-7.332123e-03,-9.910486e-03,9.164265e-03
RED,-0.045373,-0.104287,-0.124397,-0.022815,-0.084777,-0.065188,-0.106788,-0.052458,-0.011264,-0.023526,...,0.005716,-0.003216,-0.054792,0.008175,0.025342,-0.002426,0.023771,-1.026126e-02,-1.604689e-03,1.040171e-02
SILVER,-0.075080,-0.172565,-0.205841,-0.037752,-0.140281,-0.107868,-0.176703,-0.086803,-0.018638,-0.038929,...,0.001164,-0.007049,-0.008815,0.002963,0.007045,-0.000322,0.002374,-2.319594e-02,-3.660343e-03,6.564294e-03
WHITE,-0.066232,-0.152228,-0.181583,-0.033303,-0.123749,-0.095156,-0.155879,-0.076573,-0.016442,-0.034341,...,0.055218,0.003499,0.036009,0.001998,0.009007,0.001241,-0.005444,-2.766769e-02,-5.755919e-04,1.678892e-03
YELLOW,-0.008875,-0.020398,-0.024332,-0.004463,-0.016582,-0.012751,-0.020888,-0.010261,-0.002203,-0.004602,...,-0.008874,0.000293,-0.019475,0.005962,0.048658,0.047623,0.030876,-2.946295e-02,5.865277e-04,-4.379794e-04
AUTO,0.009198,-0.021363,0.004524,0.009044,0.020685,0.009945,0.010211,-0.002818,0.004406,-0.030592,...,-0.008934,-0.012135,0.112967,0.002953,-0.067238,-0.010851,-0.044073,8.995780e-02,6.471765e-02,-4.425064e-02
MANUAL,-0.009107,0.021646,-0.004240,-0.009007,-0.020522,-0.009809,-0.009978,0.002946,-0.004388,0.030701,...,0.008578,0.012274,-0.113870,-0.002999,0.067692,0.011136,0.045389,-8.936281e-02,-6.520270e-02,4.470055e-02
Alloy,-0.000002,0.019496,-0.029854,0.012321,0.009050,0.040015,0.019759,0.020374,-0.014552,-0.003195,...,0.005181,0.003514,0.124096,-0.037582,0.108092,0.083858,0.123189,1.140261e-01,4.623840e-02,-5.989678e-02
Covers,-0.004914,-0.019004,0.031632,-0.009205,-0.009957,-0.037489,-0.018995,-0.017257,-0.004722,0.006268,...,-0.004320,-0.010187,-0.124368,-0.117728,-0.140903,-0.099022,-0.151203,-9.765804e-02,-4.138474e-02,6.457735e-02
Special,-0.005438,0.012481,-0.007173,-0.007462,-0.002734,-0.003151,0.000152,-0.007796,-0.003684,-0.000045,...,0.031532,0.001840,-0.012723,0.001946,0.019621,0.013604,0.014910,-4.821114e-03,-4.634746e-03,-5.060890e-03
COMPACT,-0.006070,-0.009999,-0.001759,-0.011509,-0.011115,-0.029000,-0.037524,-0.025085,0.000191,0.053514,...,-0.003631,0.003325,-0.206320,0.039760,0.165710,0.020885,0.051407,-2.563734e-01,-9.069226e-02,6.787923e-02
CROSSOVER,0.006019,-0.011015,0.022559,-0.011760,-0.000780,0.037214,-0.026406,-0.009708,-0.005806,-0.008843,...,-0.015260,0.000771,0.025992,-0.004540,-0.018921,-0.048882,-0.012740,1.044203e-01,4.775936e-02,-5.338268e-02
LARGE,0.004686,0.020812,-0.035596,0.036942,0.007560,-0.052850,0.042135,0.016485,-0.005419,-0.022020,...,-0.004464,0.013831,0.364989,-0.034850,-0.145248,-0.098012,-0.140652,7.983480e-02,2.415295e-02,-2.340386e-02
LARGE SUV,0.012100,0.011044,-0.014773,0.004689,0.001514,0.019719,0.007455,-0.002971,-0.001344,-0.010784,...,0.025066,-0.001971,0.072005,0.014076,0.058665,0.096497,0.074148,1.270576e-01,7.011455e-02,-8.035576e-02
LARGE TRUCK,-0.003804,-0.002855,-0.022941,-0.001309,-0.010798,-0.005814,0.017083,0.001728,-0.007702,-0.011046,...,0.028022,-0.018708,-0.068205,-0.010947,-0.045626,-0.003052,-0.056859,1.551907e-01,3.823300e-02,-3.403907e-02
MEDIUM,0.011603,-0.001758,-0.006947,-0.023998,0.018671,0.004343,-0.001098,0.000095,0.009842,0.011162,...,0.005755,0.002332,-0.363999,-0.019929,-0.083107,0.024870,-0.020361,-1.534638e-01,-7.672101e-02,8.609529e-02
MEDIUM SUV,-0.001965,0.027971,-0.009894,0.005166,0.005094,0.014935,0.018979,0.015479,0.003720,-0.016709,...,-0.003676,-0.009597,0.143505,0.023510,0.097985,-0.070702,0.090389,1.583532e-01,7.235330e-02,-6.434048e-02
SMALL SUV,-0.006482,0.032782,-0.001522,0.015428,-0.014122,0.037678,-0.007364,-0.007597,-0.003849,0.007048,...,0.004709,-0.006632,-0.072719,0.004734,0.019730,0.178343,0.033495,5.979772e-02,7.464138e-03,-2.875369e-02
SMALL TRUCK,-0.009367,0.001917,-0.018449,0.003440,-0.007236,-0.012693,-0.009848,-0.006594,-0.004119,0.002827,...,0.004928,-0.001992,-0.045997,0.004002,0.016678,0.010391,0.026257,-4.489392e-02,-3.409720e-03,2.268467e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CO,-0.032579,-0.007642,0.002865,0.004756,0.004692,0.002856,-0.009677,-0.005644,0.002611,-0.002644,...,0.229328,0.006615,0.031166,-0.005255,0.020510,0.012633,0.006038,-1.587925e-02,6.931099e-03,-2.114711e-02
FL,-0.039779,-0.020198,0.013039,-0.015847,0.039518,0.012907,-0.016775,-0.025980,-0.004679,0.002872,...,-0.389515,-0.052089,-0.020995,-0.019320,0.019297,0.021257,0.023919,-6.840703e-02,-2.329557e-02,1.155616e-02
GA,0.015872,0.000498,-0.013658,-0.000633,-0.001535,-0.003761,0.008248,0.002131,-0.006795,-0.002870,...,-0.195216,0.027849,0.009712,-0.005809,0.000794,-0.002056,0.009408,-1.418515e-02,3.537535e-02,-2.918675e-02
MD,-0.012662,0.005002,0.018611,-0.007486,0.002016,0.020821,0.006502,0.009315,-0.004716,0.002177,...,-0.180486,-0.019128,0.000662,0.006625,-0.002737,-0.010109,-0.023534,-1.101496e-02,1.533814e-02,2.199658e-03
MO,-0.002341,0.011685,0.006595,0.002462,-0.001541,-0.002604,-0.003368,-0.004146,-0.003809,-0.000551,...,0.023979,-0.007559,0.018314,-0.004605,-0.005299,-0.001721,-0.012953,4.029130e-03,1.533210e-02,-5.674830e-03
MS,0.006786,0.004915,0.007880,-0.006244,-0.009667,0.007226,0.008090,-0.001809,-0.003083,-0.003401,...,-0.060515,0.044319,0.019227,-0.006160,-0.025661,-0.012912,-0.026849,1.781221e-03,2.714518e-02,-3.151732e-02
NC,0.019111,-0.001402,0.009719,-0.011305,-0.008692,0.008366,0.001409,0.014121,0.002091,-0.005643,...,-0.376785,-0.015240,0.009941,-0.007968,0.004588,-0.018329,0.006414,-1.365867e-02,4.176724e-03,-1.150768e-02
NV,0.005135,-0.006276,-0.002418,0.005306,0.002089,0.003900,-0.004605,0.000743,0.002746,0.001862,...,0.105328,0.088854,-0.014580,0.008890,0.016921,0.006186,0.013092,-2.320276e-02,-4.729536e-03,3.490896e-02
OH,0.006027,0.015527,0.010118,0.007102,-0.010547,-0.005236,0.004792,-0.002541,-0.003885,0.001568,...,-0.052223,0.001173,0.020259,-0.011097,-0.024980,-0.007210,-0.019628,4.479528e-02,-2.874794e-02,8.396828e-03
OK,0.053636,0.023109,0.002325,-0.008266,-0.031860,-0.033782,-0.047813,-0.004469,0.040775,0.059381,...,0.136165,-0.030761,-0.102927,-0.023692,-0.063263,0.010127,-0.013151,8.080917e-02,3.032900e-02,4.245938e-02
PA,-0.008641,0.013152,0.010089,-0.005661,0.010535,0.002514,-0.001396,-0.002379,0.000905,-0.005985,...,-0.162628,-0.009938,0.019922,0.016530,0.004666,0.012803,0.005760,-1.191784e-02,1.376255e-04,3.975599e-02
SC,0.002424,0.012386,0.003237,-0.003189,-0.011065,0.012228,0.013275,0.054046,0.006394,-0.014959,...,-0.271301,-0.037023,0.046013,0.014694,0.020156,0.002325,0.019493,-2.490619e-02,-2.846136e-02,1.213411e-02
TN,-0.001531,-0.012578,0.000927,-0.001491,0.011924,0.009901,-0.006914,0.005670,0.001087,-0.000511,...,-0.122471,-0.012362,0.004976,-0.003181,-0.001529,-0.011728,-0.010299,-7.968988e-03,-1.961191e-03,-1.031006e-02
TX,0.034076,0.013017,-0.021737,0.014030,-0.025945,-0.005306,0.011301,-0.002406,-0.012153,-0.000916,...,0.341068,-0.055056,-0.004457,0.019616,0.010141,-0.001820,-0.000250,3.559771e-02,3.304970e-03,-3.871435e-03
UT,-0.003508,-0.010460,-0.011871,0.005675,-0.008885,0.005025,0.004864,-0.002592,-0.004142,-0.001829,...,0.112481,0.186906,0.006312,-0.001222,-0.000529,0.005673,-0.007439,2.180200e-02,-6.322649e-03,4.175473e-03
VA,-0.010096,0.008752,0.008620,-0.000876,-0.000923,0.000602,-0.006949,0.026019,-0.005611,-0.006632,...,-0.210491,-0.011259,0.015757,0.013414,0.011800,0.009298,0.001995,4.724964e-03,-9.733274e-03,-1.267018e-02
others,-0.006804,0.012196,0.008993,0.019712,-0.000062,-0.008394,0.006364,0.007120,-0.008484,-0.003864,...,-0.025631,0.240791,0.008588,-0.004818,-0.018850,-0.015101,-0.025236,4.777794e-02,-5.138719e-02,2.760425e-02
VehYear,-0.000635,0.074385,0.035693,-0.001647,-0.074178,-0.076858,0.020775,-0.031743,0.001298,0.036357,...,0.065802,0.057670,-0.264469,-0.158127,-0.353974,-0.239599,-0.318788,5.843337e-01,5.929801e-03,5.696284e-02
VehOdo,0.009426,-0.021091,-0.031164,0.014325,0.015599,0.035856,0.042422,0.021799,-0.016927,-0.037811,...,-0.049135,0.029523,0.410788,0.079570,0.090424,0.085503,0.056388,1.904484e-02,-1.169789e-01,5.789158e-02
BYRNO,0.026300,0.007940,0.029116,-0.003811,-0.016616,-0.005581,-0.038587,-0.022932,0.028321,0.029064,...,0.035354,-0.145561,-0.089406,-0.060525,-0.110217,-0.042702,-0.098266,9.022335e-02,1.014197e-03,2.190963e-02
VNZIP1,0.009430,-0.012406,-0.027821,0.017493,-0.007830,-0.023489,0.002591,-0.035098,0.006014,0.009281,...,1.000000,0.028531,-0.033349,0.006247,-0.012123,0.002223,-0.006686,4.033723e-02,2.100482e-02,-6.134717e-03
IsOnlineSale,0.003156,0.017293,-0.005400,0.002435,-0.008358,-0.008865,0.009159,0.000896,-0.006040,0.000034,...,0.028531,1.000000,0.004736,-0.002729,-0.011588,-0.010050,-0.014897,6.466362e-02,-7.317238e-02,7.643912e-02
WarrantyCost,0.009675,-0.041470,-0.006690,0.033771,0.036600,0.015187,0.007120,0.037864,0.000020,-0.048066,...,-0.033349,0.004736,1.000000,0.051423,0.101412,-0.003805,0.070424,-4.070008e-02,-3.796497e-03,-1.640018e-02
IsBadBuy,0.003252,-0.015041,-0.011684,-0.001146,0.014557,0.004205,-0.004186,0.001383,0.018062,-0.008960,...,0.006247,-0.002729,0.051423,1.000000,0.239934,0.090778,0.205759,-1.035548e-01,-4.617117e-02,7.535628e-03
model_prob,0.007059,-0.024784,-0.019506,-0.001784,0.022315,0.020963,-0.042111,0.006023,0.007560,-0.006146,...,-0.012123,-0.011588,0.101412,0.239934,1.000000,0.217165,0.435851,-2.194667e-01,-1.012266e-01,7.117473e-02
trim_prob,0.009937,-0.012521,-0.004838,0.000969,-0.000615,0.020668,-0.004529,-0.007062,0.006858,-0.001951,...,0.002223,-0.010050,-0.003805,0.090778,0.217165,1.000000,0.381752,-1.112182e-01,3.354964e-03,-8.042723e-03
submodel_prob,0.014181,-0.011168,-0.027910,0.000927,0.032317,0.014531,-0.027777,0.006120,0.009824,-0.000012,...,-0.006686,-0.014897,0.070424,0.205759,0.435851,0.381752,1.000000,-1.881765e-01,-2.459845e-02,5.838491e-03
acqusition_PC1,0.003796,0.088771,0.007599,0.011442,-0.066755,-0.038427,0.069197,-0.015138,-0.011428,0.001072,...,0.040337,0.064664,-0.040700,-0.103555,-0.219467,-0.111218,-0.188177,1.000000e+00,2.340032e-17,1.459851e-17
acqusition_PC2,-0.005654,0.016197,-0.002931,0.000787,-0.000849,-0.000182,-0.001264,-0.009159,0.006286,0.002370,...,0.021005,-0.073172,-0.003796,-0.046171,-0.101227,0.003355,-0.024598,2.340032e-17,1.000000e+00,3.179079e-16
acqusition_PC3,0.012949,-0.009745,-0.001096,-0.005436,0.003519,0.000505,-0.012022,-0.008199,-0.019133,0.007418,...,-0.006135,0.076439,-0.016400,0.007536,0.071175,-0.008043,0.005838,1.459851e-17,3.179079e-16,1.000000e+00

In [359]:
df_final_features.shape

(51780, 88)

In [360]:
df_final_features.to_pickle("./df_final_features.pkl")

In [361]:
df_final_features.describe()

,BEIGE,BLACK,BLUE,BROWN,GOLD,GREEN,GREY,MAROON,NOT AVAIL,ORANGE,...,VNZIP1,IsOnlineSale,WarrantyCost,IsBadBuy,model_prob,trim_prob,submodel_prob,acqusition_PC1,acqusition_PC2,acqusition_PC3
count,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,...,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,51780.000000,5.178000e+04,5.178000e+04,5.178000e+04
mean,0.021495,0.103978,0.141715,0.005523,0.071224,0.043376,0.108478,0.028525,0.001352,0.005871,...,57936.654268,0.026246,1274.779336,0.123947,0.123947,0.118733,0.123928,-1.438892e-13,-6.519977e-13,-1.117108e-13
std,0.145028,0.305235,0.348761,0.074115,0.257202,0.203704,0.310986,0.166467,0.036743,0.076398,...,26186.079697,0.159867,597.245579,0.329525,0.079064,0.043988,0.067838,8.055331e+03,1.590908e+03,1.472978e+03
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2764.000000,0.000000,462.000000,0.000000,0.000000,0.000000,0.000000,-2.346087e+04,-1.247711e+04,-1.365222e+04
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,32124.000000,0.000000,853.000000,0.000000,0.078947,0.095699,0.094086,-5.842504e+03,-1.196627e+03,-1.086878e+03
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,73108.000000,0.000000,1155.000000,0.000000,0.108401,0.123618,0.124213,-1.180634e+01,-1.051300e+02,1.771944e+02
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,80022.000000,0.000000,1623.000000,0.000000,0.150442,0.126789,0.134565,5.237698e+03,1.093135e+03,9.192558e+02
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,99224.000000,1.000000,7498.000000,1.000000,1.000000,1.000000,1.000000,8.802107e+04,1.710464e+04,1.622527e+04

# Hyper-parameter tuning

In [63]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, precision_recall_curve, auc, make_scorer, recall_score, accuracy_score, precision_score, confusion_matrix

In [4]:
df_final_features = pd.read_pickle("./df_final_features.pkl")

In [5]:
df_final_features.shape

(51780, 88)

In [69]:
rf = RandomForestClassifier(n_jobs=-1,n_estimators=50, max_depth= 10, min_samples_split=10) 

param_grid = { 
    'n_estimators': [50, 70],
    'max_depth' : [20,50,100],
    'min_samples_split' : [10,20]
}


Y = df_final_features['IsBadBuy']
X = df_final_features.drop(columns=['IsBadBuy'])

In [74]:
CV_RF = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy',cv= 3)
CV_RF.fit(X, Y)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [75]:
CV_RF_2 = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='roc_auc',cv= 3)
CV_RF_2.fit(X, Y)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [76]:
print CV_RF.best_params_, CV_RF_2.best_params_

{'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100} {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 20}

In [78]:
print CV_RF.cv_results_
#print CV_RF.cv_results_.split2_test_score

{'std_train_score': array([0.00120508, 0.00143769, 0.00038335, 0.00055162, 0.00144627,
       0.00122083, 0.00061542, 0.00086213, 0.00116543, 0.00096321,
       0.0008058 , 0.00086264]), 'rank_test_score': array([ 8,  7, 11, 12,  2,  3,  6, 10,  4,  1,  9,  5], dtype=int32), 'param_max_depth': masked_array(data=[20, 20, 20, 20, 50, 50, 50, 50, 100, 100, 100, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_train_score': array([0.91923523, 0.91862688, 0.91066049, 0.91028389, 0.93253187,
       0.9321263 , 0.9146292 , 0.91413673, 0.9325029 , 0.93314021,
       0.91491889, 0.91460023]), 'split2_train_score': array([0.9176733 , 0.91720981, 0.9105472 , 0.90895397, 0.93018742,
       0.93085368, 0.91489238, 0.91463167, 0.93137511, 0.93102749,
       0.9136178 , 0.91364677]), 'std_score_time': array([0.05914906, 0.01235935, 0.00944391, 0.00820065, 0.00317149,
       0.00126334, 0.01304487, 0.02331362, 0.01084161, 0.05900022,
       0.06283792, 0.05528961]), 'split2_test_score': array([0.89837186, 0.89564865, 0.89721305, 0.89483748, 0.8981401 ,
       0.89877745, 0.89767657, 0.89599629, 0.8968654 , 0.89947274,
       0.89674952, 0.89732893]), 'mean_score_time': array([0.20937896, 0.2462159 , 0.26477798, 0.26883602, 0.27296495,
       0.23642397, 0.26245554, 0.26882744, 0.26321133, 0.29425907,
       0.31316702, 0.28115869]), 'mean_fit_time': array([3.55774705, 3.79943172, 2.49535473, 3.58171026, 3.04324603,
       3.96336039, 2.92202568, 4.81695167, 3.29939604, 4.36364603,
       3.85206834, 3.65655828]), 'split0_train_score': array([0.92062342, 0.92071033, 0.91141111, 0.90941221, 0.93365972,
       0.93383354, 0.91604624, 0.91616211, 0.93421015, 0.93299342,
       0.91555375, 0.91575654]), 'param_min_samples_split': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'std_test_score': array([0.00153825, 0.00074244, 0.00142023, 0.00132961, 0.00031931,
       0.00117555, 0.00071233, 0.0006295 , 0.00096108, 0.00053336,
       0.00114819, 0.00037672]), 'mean_train_score': array([0.91917732, 0.91884901, 0.91087293, 0.90955002, 0.93212634,
       0.93227118, 0.91518927, 0.91497684, 0.93269605, 0.93238704,
       0.91469681, 0.91466785]), 'split0_test_score': array([0.89670355, 0.89676149, 0.89722496, 0.89247436, 0.89884711,
       0.89606628, 0.89641388, 0.89716702, 0.89710909, 0.89820984,
       0.89496553, 0.89681942]), 'mean_test_score': array([0.89656238, 0.89662032, 0.89621475, 0.89430282, 0.89839706,
       0.89770182, 0.89669757, 0.896292  , 0.89766319, 0.89874469,
       0.89648513, 0.89729625]), 'params': [{'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 100}], 'std_fit_time': array([0.590933  , 0.20675402, 0.0194857 , 0.19564355, 0.00893617,
       0.13061711, 0.24283779, 0.31249504, 0.08129023, 0.08126346,
       0.99603766, 0.13188437]), 'param_n_estimators': masked_array(data=[50, 70, 50, 70, 50, 70, 50, 70, 50, 70, 50, 70],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_test_score': array([0.89461182, 0.89745075, 0.89420626, 0.89559676, 0.89820394,
       0.89826188, 0.89600232, 0.89571263, 0.89901506, 0.89855156,
       0.89774044, 0.89774044])}

In [80]:
print CV_RF_2.cv_results_

{'std_train_score': array([1.41228181e-03, 9.79086756e-04, 9.07952610e-05, 7.55503365e-04,
       1.33404804e-04, 5.26001740e-05, 6.34284543e-04, 3.78123979e-04,
       9.19441477e-05, 1.05241740e-04, 4.49834234e-04, 6.59643856e-04]), 'rank_test_score': array([ 4,  2,  3,  1, 12, 10,  7,  6, 11,  8,  9,  5], dtype=int32), 'param_max_depth': masked_array(data=[20, 20, 20, 20, 50, 50, 50, 50, 100, 100, 100, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_train_score': array([0.9829813 , 0.98564419, 0.9651234 , 0.96621214, 0.99753956,
       0.99805782, 0.98533587, 0.98660742, 0.99746895, 0.99783697,
       0.98580335, 0.98654802]), 'split2_train_score': array([0.98588852, 0.98799199, 0.96534326, 0.96798933, 0.99779223,
       0.99805919, 0.98687638, 0.98743852, 0.99767469, 0.9980908 ,
       0.98684305, 0.98815207]), 'std_score_time': array([0.00283925, 0.01841024, 0.00412997, 0.00780991, 0.06912983,
       0.11804524, 0.07599928, 0.0485671 , 0.00725722, 0.01423496,
       0.06001062, 0.00472459]), 'split2_test_score': array([0.78716324, 0.78282396, 0.78294977, 0.78508881, 0.77728035,
       0.78337673, 0.7820159 , 0.78185994, 0.77790053, 0.78356944,
       0.77974938, 0.78169118]), 'mean_score_time': array([0.13367661, 0.2716167 , 0.1426603 , 0.24562001, 0.3296357 ,
       0.34018604, 0.24388035, 0.29116368, 0.26665163, 0.25342464,
       0.22044857, 0.24152335]), 'mean_fit_time': array([2.59914128, 4.17232331, 2.6199433 , 3.77322729, 3.47762299,
       6.45653462, 4.74156062, 4.22358068, 2.8110474 , 3.74739273,
       2.68745303, 3.91597064]), 'split0_train_score': array([0.98605864, 0.98639424, 0.96520425, 0.96754765, 0.99784535,
       0.99817008, 0.98628094, 0.98737702, 0.99765116, 0.99800285,
       0.98663919, 0.98751842]), 'param_min_samples_split': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'std_test_score': array([0.00687217, 0.00237538, 0.00306781, 0.00349545, 0.00322364,
       0.00528508, 0.00354616, 0.00320564, 0.00335515, 0.00479947,
       0.00277131, 0.00299389]), 'mean_train_score': array([0.98497615, 0.98667681, 0.96522364, 0.96724971, 0.99772571,
       0.9980957 , 0.9861644 , 0.98714098, 0.99759827, 0.99797687,
       0.98642853, 0.98740617]), 'split0_test_score': array([0.77561288, 0.78048484, 0.77676247, 0.77850118, 0.77110788,
       0.77234383, 0.77659863, 0.77449175, 0.76972954, 0.7726437 ,
       0.77299786, 0.7764952 ]), 'mean_test_score': array([0.77785278, 0.78011639, 0.77862488, 0.78021598, 0.77277232,
       0.77590489, 0.777347  , 0.77739213, 0.77356034, 0.77685334,
       0.77616975, 0.7775991 ]), 'params': [{'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 100}], 'std_fit_time': array([0.129521  , 0.56098942, 0.06734715, 0.41859002, 0.41635017,
       1.87038284, 1.71008454, 0.29185477, 0.16725961, 0.08457414,
       0.21862076, 0.24029259]), 'param_n_estimators': masked_array(data=[50, 70, 50, 70, 50, 70, 50, 70, 50, 70, 50, 70],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_test_score': array([0.7707829 , 0.77704051, 0.77616277, 0.77705833, 0.7699291 ,
       0.77199477, 0.77342677, 0.77582513, 0.77305141, 0.77434752,
       0.7757624 , 0.77461123])}

In [53]:
df_final_features.shape

(51780, 88)

In [10]:
df_final_features.to_csv("/Users/kimjisun/Documents/simonKim/output_nerdwallet.csv")

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier

In [12]:
rf = RandomForestClassifier(n_estimators=70, max_depth=8, min_samples_split=20, random_state=0)
rf.fit(X, Y)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=8, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=20,
           min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

# Down Sampling

In [32]:
from sklearn.metrics import accuracy_score
from sklearn.utils import resample

In [54]:
Y.value_counts()

0    45362
1     6418
Name: IsBadBuy, dtype: int64

In [55]:
dat0 = df_final_features[df_final_features['IsBadBuy'] == 0]
dat1 = df_final_features[df_final_features['IsBadBuy'] == 1]

In [56]:
print dat0.shape, dat1.shape

(45362, 88) (6418, 88)

In [57]:
d0_downsampled = resample(dat0, 
                          replace=False,     # sample with replacement
                          n_samples=6418,    # to match majority class
                         random_state=123) 
print d0_downsampled.shape

(6418, 88)

In [58]:
df_downsmapled = pd.concat([d0_downsampled,dat1])
print df_downsmapled.shape

(12836, 88)

In [83]:
Y_1 = df_downsmapled['IsBadBuy']
X_1 = df_downsmapled.drop(columns=['IsBadBuy'])

CV_RF = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy', cv= 3)
CV_RF.fit(X_1, Y_1)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [84]:
print CV_RF.best_params_

{'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}

In [85]:
print CV_RF.cv_results_

{'std_train_score': array([0.0029818 , 0.00217986, 0.0046882 , 0.00224929, 0.00118724,
       0.00086441, 0.00378993, 0.00142693, 0.0012958 , 0.00160732,
       0.00244977, 0.00282321]), 'rank_test_score': array([ 7,  8,  6,  2, 11,  9, 12,  5, 10,  1,  4,  3], dtype=int32), 'param_max_depth': masked_array(data=[20, 20, 20, 20, 50, 50, 50, 50, 100, 100, 100, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_train_score': array([0.93456415, 0.93842019, 0.87777518, 0.88069642, 0.96120589,
       0.96471138, 0.89985978, 0.90383267, 0.96003739, 0.96307548,
       0.90067773, 0.90137883]), 'split2_train_score': array([0.94180883, 0.94297733, 0.88688946, 0.88618836, 0.96377658,
       0.96669783, 0.90862351, 0.90581912, 0.96319233, 0.96669783,
       0.90640337, 0.90815611]), 'std_score_time': array([0.02676489, 0.00403943, 0.0044443 , 0.00518462, 0.00642116,
       0.06211297, 0.01717181, 0.00114342, 0.00598107, 0.05195487,
       0.00243634, 0.00174135]), 'split2_test_score': array([0.70219729, 0.70406732, 0.69798971, 0.70757363, 0.70032726,
       0.70172978, 0.69588593, 0.70359981, 0.70850865, 0.70944367,
       0.70126227, 0.70663862]), 'mean_score_time': array([0.1520408 , 0.1439484 , 0.12399832, 0.14651871, 0.13189793,
       0.16845171, 0.15707938, 0.140908  , 0.13242865, 0.1782759 ,
       0.12689304, 0.13983528]), 'mean_fit_time': array([3.43424161, 1.37581468, 0.7655503 , 1.07883898, 1.110665  ,
       1.51022935, 1.3899823 , 1.25616431, 0.8469913 , 1.11819164,
       0.89494038, 1.11906441]), 'split0_train_score': array([0.93899018, 0.93828892, 0.88838242, 0.88382422, 0.9613137 ,
       0.96633941, 0.90158953, 0.9073165 , 0.9613137 , 0.96622253,
       0.90509584, 0.90357644]), 'param_min_samples_split': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'std_test_score': array([0.00087235, 0.00096818, 0.00435688, 0.00036704, 0.00206136,
       0.00036775, 0.00264098, 0.0009089 , 0.00455899, 0.00300338,
       0.00234761, 0.00035311]), 'mean_train_score': array([0.93845439, 0.93989548, 0.88434902, 0.88356967, 0.96209872,
       0.96591621, 0.90335761, 0.9056561 , 0.96151447, 0.96533195,
       0.90405898, 0.90437046]), 'split0_test_score': array([0.70420561, 0.70186916, 0.70864486, 0.70771028, 0.70046729,
       0.70257009, 0.70233645, 0.70280374, 0.69836449, 0.70373832,
       0.70700935, 0.70747664]), 'mean_test_score': array([0.70341228, 0.70271112, 0.70349018, 0.70738548, 0.70185416,
       0.70224369, 0.69897164, 0.70380181, 0.70208788, 0.70793082,
       0.70419134, 0.70699595]), 'params': [{'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 100}], 'std_fit_time': array([3.22887308, 0.0675762 , 0.01676559, 0.07762892, 0.12507113,
       0.388559  , 0.26896422, 0.27154428, 0.08416279, 0.16970079,
       0.04845437, 0.0679679 ]), 'param_n_estimators': masked_array(data=[50, 70, 50, 70, 50, 70, 50, 70, 50, 70, 50, 70],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_test_score': array([0.70383357, 0.70219729, 0.70383357, 0.70687237, 0.70476858,
       0.70243104, 0.69869098, 0.70500234, 0.69939224, 0.71061244,
       0.70430108, 0.70687237])}

In [86]:
CV_RF_2 = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='roc_auc',cv= 3)
CV_RF_2.fit(X_1, Y_1)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [87]:
print CV_RF_2.cv_results_

{'std_train_score': array([9.24593130e-04, 7.61824566e-04, 4.81645698e-04, 1.75294579e-03,
       2.08482755e-04, 4.17561364e-04, 7.54534494e-04, 5.36549997e-04,
       2.87445524e-04, 3.45073476e-05, 6.66907552e-04, 5.55490969e-04]), 'rank_test_score': array([ 8,  1,  4,  7, 12,  5,  9,  6, 11,  3, 10,  2], dtype=int32), 'param_max_depth': masked_array(data=[20, 20, 20, 20, 50, 50, 50, 50, 100, 100, 100, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_train_score': array([0.98605018, 0.98693653, 0.95756992, 0.95680509, 0.99392791,
       0.99444594, 0.96803525, 0.96903343, 0.99452584, 0.99488199,
       0.96721102, 0.96972721]), 'split2_train_score': array([0.9875248 , 0.98820937, 0.95816296, 0.96106392, 0.99417078,
       0.99526039, 0.96958742, 0.9703087 , 0.99390191, 0.99482961,
       0.96876606, 0.97099737]), 'std_score_time': array([0.00911437, 0.0029139 , 0.00113452, 0.00234063, 0.01157392,
       0.00185508, 0.00439186, 0.00827143, 0.00308526, 0.00531355,
       0.00394938, 0.0092692 ]), 'split2_test_score': array([0.77959186, 0.781475  , 0.78095395, 0.78173335, 0.77592523,
       0.77680167, 0.77845205, 0.77999292, 0.78201049, 0.78105558,
       0.77634706, 0.78314505]), 'mean_score_time': array([0.14520725, 0.14239868, 0.12770661, 0.1410447 , 0.14112131,
       0.14271235, 0.13261064, 0.14350796, 0.13591695, 0.14714368,
       0.12578861, 0.14322201]), 'mean_fit_time': array([1.10108209, 1.14669832, 0.86617939, 0.95178866, 1.1018544 ,
       1.15854359, 0.87520838, 1.13195769, 0.86536002, 1.09538198,
       0.82935905, 1.06675903]), 'split0_train_score': array([0.98529885, 0.98639117, 0.95698318, 0.95846073, 0.99366031,
       0.99431734, 0.96794241, 0.96939584, 0.99449645, 0.99491325,
       0.96842194, 0.9699397 ]), 'param_min_samples_split': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'std_test_score': array([0.00264436, 0.00128519, 0.0018383 , 0.00298635, 0.00314724,
       0.00269747, 0.00337583, 0.00157231, 0.00621203, 0.00172682,
       0.00024112, 0.00270339]), 'mean_train_score': array([0.98629127, 0.98717903, 0.95757202, 0.95877658, 0.99391967,
       0.99467456, 0.96852169, 0.96957932, 0.99430807, 0.99487495,
       0.96813301, 0.97022143]), 'split0_test_score': array([0.77381332, 0.7784586 , 0.77736418, 0.77443991, 0.76988405,
       0.77586492, 0.77194799, 0.77614246, 0.76742379, 0.77702561,
       0.77586449, 0.77658453]), 'mean_test_score': array([0.77754649, 0.78022636, 0.77837406, 0.77792471, 0.77428616,
       0.7782211 , 0.77667306, 0.77804551, 0.77596522, 0.77866942,
       0.776204  , 0.7796049 ]), 'params': [{'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 20}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 20}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 50}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 50}, {'min_samples_split': 10, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 50, 'max_depth': 100}, {'min_samples_split': 20, 'n_estimators': 70, 'max_depth': 100}], 'std_fit_time': array([0.17444218, 0.11322718, 0.06502946, 0.01053839, 0.18131185,
       0.05505855, 0.13560739, 0.16388294, 0.09799215, 0.08511358,
       0.07349197, 0.06840947]), 'param_n_estimators': masked_array(data=[50, 70, 50, 70, 50, 70, 50, 70, 50, 70, 50, 70],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'split1_test_score': array([0.77923604, 0.78074631, 0.77680451, 0.77760249, 0.77705127,
       0.78199781, 0.77962136, 0.77800202, 0.77846538, 0.77792782,
       0.77640061, 0.77908654])}

# up-sampling

In [88]:
d1_oversampled = resample(dat1, 
                          replace=True,     # sample with replacement
                          n_samples=45362,    # to match majority class
                         random_state=123) 
print d1_oversampled.shape

(45362, 88)

In [89]:
df_oversampled = pd.concat([d1_oversampled,dat0])
print df_oversampled.shape

(90724, 88)

In [90]:
df_oversampled['IsBadBuy'].value_counts()

1    45362
0    45362
Name: IsBadBuy, dtype: int64

In [91]:
Y_1 = df_oversampled['IsBadBuy']
X_1 = df_oversampled.drop(columns=['IsBadBuy'])

CV_RF = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy',cv= 3)
CV_RF.fit(X_1, Y_1)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [92]:
print CV_RF.best_params_

{'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}

In [98]:
print CV_RF.cv_results_['mean_train_score']
print CV_RF.cv_results_['mean_test_score']

[0.97141884 0.97337532 0.94758279 0.9499306  0.99628544 0.99672082
 0.98399542 0.98472841 0.99610908 0.99659406 0.98331754 0.98483863]
[0.92483797 0.92718575 0.89631189 0.90042326 0.96354879 0.96499273
 0.93836251 0.93923328 0.96292051 0.96459592 0.93767911 0.94056699]

In [94]:
CV_RF_2 = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='roc_auc',cv= 3)
CV_RF_2.fit(X_1, Y_1)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [ ]:
CV_RF_3 = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='recall',cv= 3)
CV_RF_3.fit(X_1, Y_1)

In [97]:
print CV_RF_2.cv_results_['mean_train_score']
print CV_RF_2.cv_results_['mean_test_score']

[0.9968239  0.99717989 0.98979664 0.99067021 0.99992012 0.99993397
 0.99869248 0.9988388  0.99991311 0.99992732 0.99872056 0.998867  ]
[0.980028   0.98098618 0.96472851 0.96565293 0.9946189  0.99494082
 0.98521496 0.98618491 0.99464843 0.99491358 0.98553238 0.98619919]

/anaconda3/envs/py2/lib/python2.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

In [99]:
print CV_RF_2.best_params_

{'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 50}

In [117]:
CV_RF_3 = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='recall',cv= 3)
CV_RF_3.fit(X_1, Y_1)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=50, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [50, 70], 'min_samples_split': [10, 20], 'max_depth': [20, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='recall', verbose=0)

In [118]:
print CV_RF_3.cv_results_['mean_train_score']
print CV_RF_3.cv_results_['mean_test_score']

[0.97678676 0.97932189 0.94990302 0.95184299 0.99458798 0.9948415
 0.9801596  0.98047925 0.99458799 0.99512808 0.97954234 0.98063356]
[0.94978176 0.95198624 0.91292271 0.91534765 0.97733786 0.97764649
 0.95130285 0.95042106 0.97751422 0.97786694 0.95015652 0.95161148]

In [100]:
rf = RandomForestClassifier(n_estimators=70, max_depth=50, min_samples_split=10)
rf.fit(X_1, Y_1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=50, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [114]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_1.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)

In [116]:
feature_importances.head(20)

                importance
model_prob        0.080724
acqusition_PC1    0.080077
acqusition_PC2    0.076550
acqusition_PC3    0.073690
VehOdo            0.073540
submodel_prob     0.064705
BYRNO             0.052172
WarrantyCost      0.048206
VNZIP1            0.046576
Alloy             0.044445
VehYear           0.039595
Covers            0.037860
trim_prob         0.033460
MANHEIM           0.010281
SILVER            0.009250
WHITE             0.008469
BLUE              0.008182
GREY              0.007260
GREEN             0.007196
TX                0.007147

In [106]:
#{'min_samples_split': 10, 'n_estimators': 70, 'max_depth': 100}
rf_original = RandomForestClassifier(n_estimators=70, max_depth=100, min_samples_split=10)
rf_original.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=100, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [112]:
feature_importances_2 = pd.DataFrame(rf_original.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)

In [113]:
feature_importances_2.head(20)

                importance
Alloy             0.080922
model_prob        0.078164
acqusition_PC1    0.073738
VehOdo            0.070176
acqusition_PC2    0.069490
acqusition_PC3    0.068114
submodel_prob     0.061600
Covers            0.051065
WarrantyCost      0.044371
BYRNO             0.041984
VNZIP1            0.041819
trim_prob         0.033031
VehYear           0.030637
MANHEIM           0.012035
Special           0.008598
ADESA             0.007793
WHITE             0.007010
SILVER            0.006744
TX                0.006701
BLUE              0.006595

# Logistic Regression

In [123]:
from sklearn.linear_model import LogisticRegressionCV

In [132]:
clf_1 = LogisticRegressionCV(cv=3)
clf_1.fit(X_1,Y_1)

LogisticRegressionCV(Cs=10, class_weight=None, cv=3, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='warn', n_jobs=None, penalty='l2',
           random_state=None, refit=True, scoring=None, solver='lbfgs',
           tol=0.0001, verbose=0)

In [134]:
#logistic = LogisticRegressionCV(Cs=4, fit_intercept=True, cv=10, verbose =1, random_state=42,penalty='l1')
clf_1.score(X_1,Y_1)

0.5920925003306733